.Promocoes{
    font-size: 30px;
    width: 5000px;
    height: 60vh;
    background-color: goldenrod ;
    display: flex;
    gap: 15px ;
    overflow-x:auto;
    

}

.poteRoxo{
    width: 1000px;
    height:50vh;
    padding: 20px;
    background-color: rgb(226, 43, 43);
}

.poteRosa{
    width: 1000px;
    height:50vh;
    padding: 20px;
    background-color: rgb(223, 33, 33);
}
    


.poteAzul{
    width: 1000px;
    height:50vh;
    padding: 20px;
    background-color: rgb(234, 24, 24);
    
}

.RedmiNote12 {
    width: 1000px;
    height:50vh;
    padding: 20px;
    background-color: rgb(208, 18, 18);

}

.RedmiNote9 {
    width: 1000px;
    height:50vh;
    padding: 20px;
    background-color: rgb(179, 13, 13);

}



